<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <a href="/"><strong>Members Only</strong></a>
      <div class="login-buttons">
        <% if (user) {%>
        <a href="/log-out"><strong>Log Out</strong></a>
        <% } else { %>
        <a href="/login"><strong>Log In</strong></a>
        <%}%>
        <a href="/sign-up"><strong>Sign Up</strong></a>
        <% if (user) {%>
        <a href="/new-message"
          ><button id="post-button"><strong>Post</strong></button></a
        >
        <% } %>
      </div>
    </div>
    <hr />
    <div class="messages">
      <% if (messages !== false) { %> <% messages.map((message) => { %>
      <div class="message">
        <div class="message-user">
          <strong><%= message.title %></strong> by <% if (user) {%>
          <strong><%= message.username %></strong> <% } else { %> Anon <%}%>
        </div>
        <div class="message-content"><%= message.message %></div>
      </div>
      <% }) %> <% } %>
    </div>
  </body>
</html>
