<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <% if (user) {%>
      <h1>WELCOME BACK <%= user.username %></h1>
      <a href="/log-out">LOG OUT</a>
      <% } else { %>
      <h1>please log in</h1>
      <%}%>
      <a href="/"><strong>Members Only</strong></a>
      <div class="login-buttons">
        <a href="/login"><strong>Log In</strong></a>
        <a href="/sign-up"><strong>Sign Up</strong></a>
        <button id="post-button"><strong>Post</strong></button>
      </div>
    </div>
    <hr />
    <div class="messages">
      <div class="message">
        <div class="message-user"><strong>Anon</strong></div>
        <div class="message-content">My days are numbered.</div>
      </div>
      <div class="message">
        <div class="message-user"><strong>Anon</strong></div>
        <div class="message-content">My days are numbered.</div>
      </div>
      <div class="message">
        <div class="message-user"><strong>Anon</strong></div>
        <div class="message-content">My days are numbered.</div>
      </div>
    </div>
  </body>
</html>
