<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <a href="/"><strong>Members Only</strong></a>
      <div class="login-buttons">
        <a href="/login"><strong>Log In</strong></a>
        <a href="/sign-up"><strong>Sign Up</strong></a>
      </div>
    </div>
    <hr />
    <form action="/<%= message_id %>" method="post">
      <% if (admin) {%>
      <button type="submit" class="account-button">
        <strong>Delete Message</strong>
      </button>
      <% } else { %> You are not authorized to perform actions on this message
      <%}%>
    </form>
  </body>
</html>
